* {
  box-sizing: border-box;
}

html,
body {
  font-size: calc(1vw + 5px);
}

header {
  background: #fff;
  height: 100vh;
  display: flex;
}
section.color-box {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.box {
  flex-wrap: wrap;
  padding: 3rem;
  font-size: 2rem;
  /*border: 0.02rem solid #fff;*/
  color: white;
  display: flex;
  width: 25%;
}
